<section id="Project">
    <h1>Mes projets OpenClassRooms</h1>
    <article id="Booki">
        <div>
            <h2>Booki</h2>
            <h4>Réalisé avec > Html-5 . Css</h4>
            <p>
                Ce projet, Booki permet de transformer une maquette en site web avec
                html et Css. Nous devions permettre aux usagers de trouver des
                hébergements et des activités dans la ville de leur choix. De plus
                développer un site en récursive mobile first ainsi que tablette.
                Pour avoir plus de détails sur les contraintes et consignes du
                projet, je vous invite à consulter le github en cliquant sur
                l'image.
            </p>
        </div>

        <a href="https://github.com/ClementFra/Booki" target="_blank"><img src="../../assets/images/Projects/booki.png"
                alt="image du site web booki" /></a>
    </article>
    <article id="lapanthere">
        <div>
            <h2>Agence La Panthère</h2>
            <h4>Réalisé avec > LightHouse . Dareboost . Wave Evaluation Tool </h4>
            <p>
                Dans ce projet, je devais optimiser un site web existant avec des outils SEO afin, d'analyser l'état
                actuel du
                site pour ainsi l'améliorer et faire une comparaison de mes résultats auprès de l'agence. Je vous
                invite à consulter le github en cliquant sur l'image
            </p>
        </div>

        <a href="https://github.com/ClementFra/FranquartClement-4-260422" target="_blank"><img
                src="../../assets/images/Projects/panthère.png" alt="image du site web Agence La Panthère" /></a>
    </article>
    <article id="Kanap">
        <div>
            <h2>Kanap</h2>
            <h4>Réalisé avec > Html . Css . JS</h4>
            <p>
                Dans ce projet, je devais créer un site de e-commerce pour une
                entreprise de vente de canapés. Le backend et l'API nous étant
                fournis, il fallait créer le frontend. Le site devait être
                responsive, et fonctionner sur tous les navigateurs. Pour avoir plus
                de détails sur les contraintes et consignes du projet, je vous
                invite à consulter le github en cliquant sur l'image
            </p>
        </div>

        <a href="https://github.com/ClementFra/FranquartClement_5_300522" target="_blank"><img
                src="../../assets/images/Projects/kanap.webp" alt="image du site web kanap" /></a>
    </article>
    <article id="Piquante">
        <div>
            <h2>Piiquante</h2>
            <h4>Réalisé avec > NODEJS . MONGODB</h4>
            <p>
                Dans ce projet, je devais créer une API sécurisée pour un site de
                vente de sauces piquantes. (le code frontend nous ayant été fourni)
                Il fallait implementer les fonctionnalités suivantes : - Création
                d'un compte utilisateur - Connexion à un compte utilisateur -
                Création, modification et suppression d'une sauce - Liking et
                disliking d'une sauce Pour avoir plus de détails sur les contraintes
                et consignes du projet, je vous invite à consulter le github en
                cliquant sur l'image
            </p>
        </div>

        <a href="https://github.com/ClementFra/FranquartClement_6_06072022" target="_blank"><img
                src="../../assets/images/Projects/piiquante.webp" alt="image du site web piiquante" /></a>
    </article>
    <article id="kasa">
        <div>
            <h2>Kasa</h2>
            <h4>Réalisé avec > JS . REACT</h4>
            <p>
                Dans ce dernier project , je devais créer une application web de
                location immobilière avec React. Il fallait implementer les
                fonctionnalités suivantes: -Galerie qui affiche la dernière image
                dans le carrousel et inversement -Collapse par défaut fermé à
                l'initialisation de la page - Si le collapse est ouvert, le clic de
                l'utilisateur permet de le fermer et inversement - Utilisation des
                props et State quand cela est nécessaire - Utilisation de react
                router,je vous invite à consulter le github en cliquant sur l'image
            </p>
        </div>

        <a href="https://github.com/ClementFra/FranquartClement_7_10022023" target="_blank"><img
                src="../../assets/images/Projects/kasa.jpg" alt="image du site web kasa" /></a>
    </article>
</section>