*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    font-size: 62.5%;
}

main{
    margin: 40px auto;
    padding: 0 20px;
    max-width: 1280px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}