footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  div {
    display: flex;
    margin-left: 44%;

    p {
      color: white;
      margin-right: 25px;
    }
    img {
      margin-top: 10px;
      margin-right: 10px;
      height: 30px;
    }
    img:hover {
      zoom: 120%;
    }
  }
}

/**responsive**/

/*Tablette*/
@media screen and (max-width:912px) {
  footer{
    div{
      margin-left: 25%;
    }
  }
}

@media screen and (max-width:768px) {
  
}