<section id="About">
    <h1>Qui suis-je ?</h1>
    <h4>Un développeur passioné depuis de nombreuses années</h4>
    <p>
        Je m'apelle Clément, titulaire d'un Deust MIR (Maintenance et
        infrastructure), ainsi qu'une formation en sécurité et réseaux. J'ai par la
        suite voulu me réorienter vers le développement Web grâce à la formation
        OpenClassRooms. Ayant toujours été passionné par l'informatique, j'ai décidé
        de me lancer dans cette formation afin de me spécialiser dans le
        développement web, et de pouvoir exercer un métier qui me passionne.
    </p>
    <button>
        <a href="../../assets/images/Présentation/CV- Franquart Clément.pdf" target="_blank">Mon
            CV</a>
    </button>
</section>