<section id="SKILLS">
    <h1>Mes compétences</h1>
    <article>
      <a href="https://developer.mozilla.org/fr/docs/Glossary/HTML5" target="_blank"><img
          src="../../assets/images/Skills/html5.png" alt="logo HTML-5" /></a>
      <a href="https://developer.mozilla.org/fr/docs/Web/CSS" target="_blank"><img src="../../assets/images/Skills/css.png"
          alt="logo CSS" /></a>
      <a href="https://developer.mozilla.org/fr/docs/Learn/Getting_started_with_the_web/JavaScript_basics"
        target="_blank"><img src="../../assets/images/Skills/javascript.png" alt="logo Javascript" /></a>
      <a href="https://nodejs.dev/fr/learn/" target="_blank"><img src="../../assets/images/Skills/nodejs.png"
          alt="logo Node.js" /></a>
      <a href="https://www.mongodb.com/fr-fr" target="_blank"><img src="../../assets/images/Skills/mongodb.png"
          alt="logo MongoDB" /></a>
      <a href="https://sass-lang.com/" target="_blank"><img src="../../assets/images/Skills/sass.png" alt="logo Sass" /></a>
      <a href="https://fr.legacy.reactjs.org/" target="_blank"><img src="../../assets/images/Skills/react.png"
          alt="logo React" /></a>
      <a href="https://github.com/" target="_blank"><img src="../../assets/images/Skills/github.png"
          alt="logo Github" /></a>
      <a href="https://angular.io/" target="_blank"><img src="../../assets/images/Skills/angular.png"
          alt="Logo Angular" /></a>
          <a href="https://www.atlassian.com/fr/agile" target="_blank"><img src="../../assets/images/Skills/Agile.png"
            alt="Logo Agile" /></a>
    </article>
  </section>
